<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <remove key="ACL Packages" />
    <add key="ACL Packages" value="http://aurora/nuget/v3/index.json" allowInsecureConnections="true"/>
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="ACL Packages">
      <package pattern="Nitro.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>